.container {
  min-height: 100vh;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.form {
  width: 400px;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.form input,
.form textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  cursor: pointer;
}
.backButton
{
  background-color: #a7a7a7;
  color: #041b34;
}
.backButton:hover
{
  background-color: #4d4d4d;
}