.sectionAboutMe {
    min-height: auto;
    height: 100vh;
    width: 100%;
    margin: auto;
    background-color: hsla(207, 62%, 9%, 0.997) ;
display: flex;
flex-direction: row;
border-bottom : 1px solid hsl(207 , 62%, 9%, 0.997);
}
.ooo 
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagess {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.oot {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
justify-content: center;
align-self:center;
}
.personData {
width: 70%;
display: flex;
flex-direction: column;
margin: auto;
}
.personData p {
color: rgb(166, 166, 166);
font-size: 1.5em;
}
.personData .answersData {
color: white;
}
.SocialIcons {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 15px;

}
.oneIcon {
width: 70px;
height: 70px;

border: 2px solid white;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border: 2px solid rgb(71, 103, 126);
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
background-image: linear-gradient(to right, rgb(46, 89, 97) ,  rgb(165, 227, 238));
transition: 1s ease;

}
.defineIcon {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(35, 46, 54);

}
.iconSelf {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
}


.oneIcon:hover {
    transform: rotate(360deg);
}
.iconSelf {
color: white;
font-size: 2em;
}
#idConFace:hover #idFacebook {
    background-color: blue;
}
#idConLink:hover #idLinkedin {
    background-color: rgb(7, 7, 161);
}
#idConGithup:hover #idGithup {
    background-color: rgb(131, 21, 137);
}
#idConWhats:hover #idWhatsApp {
    background-color: green;
}
.hrLine {
    background-color: hsla(207, 62%, 9%, 0.997) ;
opacity: 0%;
}
/* ============================================================================================================== */
.infoMe {
    min-height: auto;
    height: 100%;
    width: 100%;
    background-color: hsla(207, 62%, 9%, 0.997) ;
    border-top : 1px solid hsl(207 , 62%, 9%, 0.997);
    padding: 50px 0px 50px 0px ;


}
.whome {
height: auto;
display: flex;
flex-direction: column;
width: 80%;
margin: auto;
}
.whome h2 {
    color: white;
}
.whome p {
    color: rgb(214, 214, 214);
}
.educations {
height: auto;
display: flex;
flex-direction: column;
width: 80%;
margin: auto;
}
.educations h2 {
    color: white;
}
.educations p {
    color: rgb(214, 214, 214);
}
.certifications {
height: auto;
display: flex;
flex-direction: column;
width: 80%;
height: auto;
margin: auto;
}
.certifications h2 {
    color: white;
}
.certifications p {
    color: rgb(214, 214, 214);
}
.openCertificate {
    text-decoration: none;
    font-weight: 700;
    color: rgb(67, 141, 206);
    height: auto;
}
/* ==============================================================================================================================
============================================================================================================================= */

@media (max-width:1210px) {
    .personData {width: 90%;}

}
@media (max-width:823px) {
    
    .sectionAboutMe {
        height: 100%;
        width: 100%;
padding-top: 100px;
padding-bottom: 70px;
        margin: auto;
        background-color: hsla(207, 62%, 9%, 0.997) ;
    display: flex;
    flex-direction: column;
    }
    .ooo 
    {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagess {
        width: 300px;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
        margin: auto;
    }
    .oot {
        padding-top: 20px;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-self:center;
    }
    .personData {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    }
    .SocialIcons {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        gap: 15px;
    
    }
    .infoMe {
        min-height: auto;
        height: 100%;
padding: 70px 0px 70px 0px ;
    }
}
@media (max-width:531px) {
    .sectionAboutMe {
    min-height: auto;
            height: 100%;
            width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
            margin: auto;
            background-color: hsla(207, 62%, 9%, 0.997) ;
        display: flex;
        flex-direction: column;
        }
        .ooo 
        {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        .imagess {
            width: 300px;
            height: 400px;
            border-radius: 10px;
            overflow: hidden;
            margin: auto;
        }
    .oot {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-self:center;
    }
    .personData {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin: auto;
    }
    .personData p {
    color: rgb(166, 166, 166);
    font-size: 1.3em;
    }
    .personData .answersData {
    color: white;
    }
    .SocialIcons {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        gap: 15px;
    
    }
    .oneIcon {
    width: 55px;
    height: 55px;
    margin: auto;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid rgb(71, 103, 126);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(46, 89, 97) ,  rgb(165, 227, 238));
    transition: 1s ease;
    
    }
    .defineIcon {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        text-decoration: none;
    
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgb(35, 46, 54);
    
    }
    .iconSelf {
        color: white;
        font-size: 2.3em;
        font-weight: 700;
    }
    
    
    .oneIcon:hover {
        transform: rotate(360deg);
    }
    .iconSelf {
    color: white;
    font-size: 1.8em;
    }
    #idConFace:hover #idFacebook {
        background-color: blue;
    }
    #idConLink:hover #idLinkedin {
        background-color: rgb(7, 7, 161);
    }
    #idConGithup:hover #idGithup {
        background-color: rgb(131, 21, 137);
    }
    #idConWhats:hover #idWhatsApp {
        background-color: green;
    }

.infoMe {
    height: 100%;
    padding: 100px 0px 100px 0px ;
}

}






@media (max-width:370px) {
    .sectionAboutMe {
    
            height: 100%;
            width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
            margin: auto;
            background-color: hsla(207, 62%, 9%, 0.997) ;
        display: flex;
        flex-direction: column;
        }
        .ooo 
        {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        .imagess {
            width: 300px;
            height: 400px;
            border-radius: 10px;
            overflow: hidden;
            margin: auto;
        }
    .oot {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-self:center;
    }
    .personData {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin: auto;
    }
    .personData p {
    color: rgb(166, 166, 166);
    font-size: 1.1em;
    }
    .personData .answersData {
    color: white;
    }
    .SocialIcons {
        width: 98%;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        gap: 15px;
    
    }
    .oneIcon {
    width: 55px;
    height: 55px;
    margin: auto;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid rgb(71, 103, 126);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(46, 89, 97) ,  rgb(165, 227, 238));
    transition: 1s ease;
    
    }
    .defineIcon {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        text-decoration: none;
    
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgb(35, 46, 54);
    
    }
    .iconSelf {
        color: white;
        font-size: 2em;
        font-weight: 700;
    }
    
    
    .oneIcon:hover {
        transform: rotate(360deg);
    }
    .iconSelf {
    color: white;
    font-size: 1.4em;
    }
    #idConFace:hover #idFacebook {
        background-color: blue;
    }
    #idConLink:hover #idLinkedin {
        background-color: rgb(7, 7, 161);
    }
    #idConGithup:hover #idGithup {
        background-color: rgb(131, 21, 137);
    }
    #idConWhats:hover #idWhatsApp {
        background-color: green;
    }

.infoMe {
    height: 100%;
    padding: 100px 0px 100px 0px ;
}

}