.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.form {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 16px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
}

.form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background: #0ea5e9;
}