.dashboard {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

/* blur layer خفيف */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 1100px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  letter-spacing: 1px;
}

/* grid */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 27px;
}

/* card */
.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 30px 20px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  opacity: 0.7;
}

/* hover effect احترافي */
.card:hover {
  transform: translateY(-8px) scale(1.02);
  background: rgba(255, 255, 255, 0.1);
  border-color: #38bdf8;
}